$clrBg: #2a5245
$clrForm: rgba(33,33,33, 1)
$clrValid: rgb(98, 186, 152)
$clrInvalid: rgb(199, 32, 57)

body
  margin: 0
  padding: 0
  // background: url(../resources/images/bg_lg.jpg)
  background: $clrBg
  font-family: 'Roboto', sans-serif
  background-repeat: no-repeat
  background-size: cover


#root
  min-height: 100vh

.container
  display: flex
  align-items: center
  justify-content: center
  flex: 1
  height: 100vh

.profile
  display: flex
  flex-direction: column
  align-items: center
  flex: 1
  height: 100vh
  background-color: #fff

  .profile-container
    padding: 2em

.row
  display: flex
  justify-content: center


[class*="MuiAvatar-root"]
  width: 150px !important
  height: 150px !important

.form-container
  padding: 0 1.5em 1.5em 1.5em
  form
    button[type="submit"]
      background-color: $clrValid !important
      color: #ffffff !important
    [class*="MuiInput-underline"]:before
      border-color: #ffffff !important
    [class*="MuiInput-underline"]:after
      border-color: $clrValid !important
    input
      padding-left: 10px
      background-color: transparent
    svg
      color: #ffffff !important


.tab-bar
  background-color: #333333 !important

.form-card
  background-color: $clrForm !important
  max-width: 350px !important

.tab-content
  input
    color: #ffffff !important

[class*="TabIndicator-colorSecondary"]
  background-color: $clrValid !important

.btn-logout
  background-color: $clrInvalid !important
  color: #ffffff !important

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
.custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus
  -webkit-box-shadow: 0 0 0 50px rgb(33,33,33) inset
  -webkit-text-fill-color: #ffffff

input::selection, textarea::selection
  background-color: $clrValid
  color: #ffffff

::placeholder
  color: darken(#ffffff, 5%) !important

.logs
  padding: 10px
.invalid-feedback
  background-color: $clrInvalid
.valid-feedback
  background-color: $clrValid
.invalid-feedback, .valid-feedback
  color: #ffffff
  padding: 10px
  margin-top: 10px
  border-radius: 2px




